*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.btn {
    display: inline-block;
    line-height: normal;
    background-color: #0061ff;
    padding: 1px 12px;
    vertical-align: middle;    
}
a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.small-section  {
    width: 80%;
    margin: auto;
}
.smaller-section {
    width: 70%;
    margin: auto;
}
/*typo*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
/*header*/
header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    background-color: white;  
    z-index: 10;  
}
.col-left-header, .col-right-header{
    float: left;
    width: 50%;    
}
.col-left-header {
    width: calc(50%-20px);
    padding-left: 20px;
}
.logo {
    vertical-align: middle;
    padding-right: 35px;
}
.nav-header-left{
    display: inline-block;
    vertical-align: middle;
}
.nav-header-left li, .nav-header-right li{
    display: inline-block;
    
}
.nav-header-left li a, .nav-header-right li a {
    vertical-align: middle;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding-right: 25px;
}
.col-right-header{
    text-align: right;
    padding-right: 20px;
    width: calc(50%- 20px);
}
/*hero*/
.hero {
    padding: 40px;
    background-color: #b4d0e7;    
}
.titolo-hero {
    margin-top: 10px;
    font-size: 50px;
    font-weight:700;
}
.sezione-float-hero {
    margin-top: 40px;
}
.col-left-hero {
    float: left;
    width: 30%;
}
.col-left-hero p{
    font-size: 13px;
    font-weight: 600;
}
.btn-hero {
    margin: 25px 0 10px 0;
}
.sottotitolo-hero {
    font-size: 11px;
    font-weight: 600;
}
.fa-arrow-down {
    margin-top: 30px;
    font-size: 30px;
}
.col-right-hero{
    float: right;
    width: 65%;    
}
.section-hero {
    position: relative;
    bottom: -120px;
}
.immagine-hero {
    width: 100%;   
}
/*prima section card*/
.section-card {
    position: relative;
    height: 100%;
    padding-top:100px ;    
}
.titolo-section-card {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 45px;           
}
.radio-btn {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 30px;    
}
label{
    padding-right: 20px;
}
/*prima riga colonne*/
.row-1-col-left, .row-1-col-center, .row-1-col-right {
    float: left;
    width: calc(90% / 3);
    border: 1px solid #d0d0d3;
    padding: 0 20px;
    min-height: 750px;
    
}
.row-1-col-center {
    margin: 0 calc(10%/ 2)
}
.titolo-card{
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0;
}
.top-section {
    border-top: 1px solid #d0d0d3 ;
  
}
.categoria {
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 20px;
}
.prezzo {
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 6px;   
}
.durata {
    color: #778591 ;
    font-size: 11px;
    font-weight: 600;
}
.caratteristiche {
    padding: 30px 0;
    
}
.caratteristiche div {
    padding-bottom: 15px;
    font-size: 11px;
        
}
.prova-30-gg a {
    font-size: 13px;
    font-weight: 400;
    
}
.prova-30-gg{
    padding: 2px 30px;    
}
.sottotitolo-prova{
    padding-top: 20px;
   
}
.link-prova{
    text-decoration: underline;
    color: #156dff;
    font-size: 11px;
}
.small-hr {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 80%;
}
.punti-piano li {
    list-style-type: none;
    padding: 8px 0;
}
.fa-check {
    color: #156dff;
}
/*sezione orizzontale*/

.sezione-orizzontale {
    padding: 0 20px;
    border: 1px solid #d0d0d3;
    margin-top: 40px;
}
.titolo-orizzontale {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0;
}
.col-left-orizzontale, .col-right-orizzontale {
    float: left;
}
.col-left-orizzontale {
    width: 70%;
}
.col-right-orizzontale {
    width: 22%;
}
.col-right-orizzontale {
    margin-top: 25px;        
}
.col-right-orizzontale> a {
    display: inline-block;
    font-size: 11px;
    padding: 4px 13px;
    text-align: center;

}
/*sezione orizzontale immagine/testo*/
.section-img-testo {
    position: relative;
    margin-top: 80px;
}
.img-partner {
    width: 50%;
    float: left;
}
.partner-section {
    float: left;
    width: 35%;
    margin-left: 40px;

} 
.par-partner {
    padding: 15px 0 20px 0;
}
.btn-partner {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 11px;
    padding: 6px 10px;
}
/*sezione business*/
.section-card-business {
    margin-top: 80px;
}
/*prima riga*/
.prima-card-business, .seconda-card-business, .terza-card-business {
    float: left;
    width: calc(80%/ 3);
}
.foto-card {
    width: 100%;
}
.seconda-card-business {
    margin: 0 calc(20%/ 2) ;
}
.seconda-row-business {
    margin-top: 70px;
}
/*sezione team/marchi */
.sezione-marchi {
    margin-top: 120px;
}
.sezione-marchi > .titolo-section-card {
    padding-bottom: 20px;
}
/*sezione fullpage*/
.sezione-fullpage-marchi {
    margin-top: 30px;
    
}
.prima-colonna-quadrati {
    width: 360px;
    height: 360px;
    position: relative; 
    float: left;  
     
}
.square {
    width: 180px;
    height: 180px;
    position: absolute;
    
}
.designit {
    background-color: #a2d39b;
    top: 0;
    left: 0;     
}
.asu {
    background-color: #61082b;
    top: 0;
    right: 0;
}
.uf {
    background-color: #0093ce;
    bottom: 0;
    left: 0;
}
.topps {
    background-color: #ff1c1c;
    bottom: 0;
    right: 0;
}
.img-logo {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
/*colonna testo centrale*/
.colonna-testo {
    float: left;
    width: calc(90% - 720px);
    padding: 30px 35px;
   
}
.testo-designit {
    display: inline-block;
    
}
.logo-centrale {
    width: 30%;
    filter: invert(100%);
}
.autore{
    padding: 30px 0;
    font-size: 11px;
}

/*colonna destra*/
.destra {
    float: right;
}
.world-bicycle{
    background-color: #d5001f;
    top: 0;
    left: 0;
}
.hearst {
    background-color: #b4d0e7;
    top: 0;
    right: 0;
}
.lonely-planet {
    background-color: #0d2481;
    bottom: 0;
    left: 0;
}
.clear-channel {
    background-color: #ffd830;
    bottom: 0;
    right: 0;
}
/*sezione fullpage porta dropbox*/
.fullpage-azzurra {
    background-color: #b4d0e7;
    height: 250px;
    padding-top: 100px;

}
.titolo-viola {
    color: #61082b ;
    float: left;
    width: 50%;    
}
.btn-bianco {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 18px;
    float: right;
    width: 30%; 
    text-align: center;
    
}
/*faq*/
.faq {
    margin-top: 80px;
}
.faq, .categoria {
    padding-bottom: 40px;
}
.domande {
    
    font-weight: 900;    
    display: inline-block;
    float: left;
    
}
.fa-angle-down {
    float: right;
    text-align: center;
    line-height: 60px;
}
.riga-domande {
    line-height: 60px;
    height: 60px;
    border-top: 1px solid #d0d0d3;
}
.ultima-riga {
    border-bottom:1px solid #d0d0d3;
}
/*footer*/
footer {
    background-color: black;
    width: 100%;
    min-height: 400px;
    margin-top: 50px;
    color: white;
}

.titoli-footer {
    font-size: 14px;
}
.colonna-footer {
    float: left;
    width: calc(100% / 5);
    padding-top: 50px;
}
.lista-link> li{
    list-style-type: none;
    padding: 3px 0;
    font-size: 13px;
}
/*bottom footer*/
.bottom-footer> hr {
    margin-top: 100px;
    margin-right: 95%;
}
.bottom-footer {
    padding-bottom: 50px;
} 