*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.btn {
    display: inline-block;
    line-height: normal;
    background-color: #0061ff;
    padding: 1px 12px;
    vertical-align: middle;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.small-section  {
    width: 80%;
    margin: auto;
}
/*typo*/
body {
    font-family: 'Open Sans', sans-serif;
}
/*header*/
header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    background-color: white;    
}
.col-left-header, .col-right-header{
    float: left;
    width: 50%;    
}
.col-left-header {
    width: calc(50%-20px);
    padding-left: 20px;
}

.logo {
    vertical-align: middle;
    padding-right: 35px;
}
.nav-header-left{
    display: inline-block;
    vertical-align: middle;
}
.nav-header-left li, .nav-header-right li{
    display: inline-block;
    
}
.nav-header-left li a, .nav-header-right li a {
    
    vertical-align: middle;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding-right: 25px;

}
.inizia a {
    

}
.col-right-header{
    text-align: right;
    padding-right: 20px;
    width: calc(50%- 20px);
}
/*hero*/
.hero {
    padding: 60px;
    height: 580px;
    background-color: #b4d0e7;
}
.titolo-hero {
    margin-top: 40px;
    font-size: 50px;
    font-weight:700;
}
.sezione-float-hero {
    margin-top: 40px;
}
.col-left-hero {
    float: left;
    width: 30%;

}
.col-left-hero p{
    font-size: 13px;
    font-weight: 600;
}
.btn-hero {
    margin: 25px 0 10px 0;
}
.sottotitolo-hero {
    font-size: 11px;
    font-weight: 600;
}
.fa-arrow-down {
    margin-top: 30px;
    font-size: 30px;
}
.col-right-hero{
    float: right;
    width: 65%;    
}
.img-hero {
    background-image: url('../img/img/jumbo.png');
    background-size: cover;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat ;
    right: 0;
}